* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {    
    grid-area: head;
    display:flex;
    justify-content:stretch;
    background-color: orange;
    align-items:center;

    padding: 10px 15px;
    text-align: center;
    
}

button {
   background-color: white; 
   color: black;
   width: 10%;
   height:90%;
   border: 3px orange;
   border-radius: 15px;
   cursor: pointer;
   font-weight: bold;
   
}

button:hover{
    background-color: orangered; 
    width: 10%;
    height:90%;
    border: 3px yellow;
    border-radius: 15%
    
}

.img-header {

  height: 150%;  
  width: 7%;
  cursor: pointer;
}

header h1 {
    display: flex;
    padding-right: 72%;
}
nav{
    grid-area: nav;
    flex-grow: 1;

}
main{
    grid-area: main;
    display:flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: flex-start;
    margin: 40px;    
    align-items: center;
}
.solicitarCartao{
    flex-grow: 2;
    justify-content:center 
}
.saiba-mais{
    color:blue
}
video{
    width: 640px;
    height: 360px;
}
.video{
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    align-items:flex-start;    
}
img{
    width: 300px;
    height: 200px;
}

textarea{
    font-size: 15px;
}
.solicitarCartao h2{
    align-items: center;
}
.propaganda{
    flex-direction: row;
    flex-wrap: wrap;
}

.video p{
    padding: 10px;
}
footer{
    grid-area: foot;
    display:flex;
    justify-content:space-evenly;
    background-color: orange;
    align-items:center;
}

footer img{
    width: 60px;
    height: 60px;

}
footer div{
    align-items: center;
}
.container {
    display: grid;
    width: 100%;
    grid-template-rows: 10vh 20vh 20vh 20vh 500px 150px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 'head head head head head head head head'
                         'main main main main main main main main'
                         'main main main main main main main main'
                         'main main main main main main main main'
                         'main main main main main main main main'
                         'foot foot foot foot foot foot foot foot';

