* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  color: white;
  display: flex;
  justify-content: stretch;
  background-color: orange;
  grid-column: 1/-1;
  align-items: center;
  padding: 10px 15px;
  justify-content: space-between;
  text-align: center;
}
button {
  background-color: white; 
  color: black;
  width: 10%;
  height:90%;
  border: 3px orange;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;

}
button:hover{
  color: white;
  background-color: orange;
}
.img-header {
  width: 10vh;
  height: 10vh;
}

main {
 flex-grow: 1;
 display: flex;

}
.video1{
  width: 250px;
  height: 125px;
  align-items: center;
}
.section1{
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
}
.section2{
  flex-grow: 16;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}
.card{
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;  
}
footer {
  border: 6pt solid orange;
  background-color: orange;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

img {
  width: 6vh;
  height: 6vh;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  header{ 
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  font-size: 10px;
}
bottom{
  width: 20px;
  right: 10px;
}
  main{
  display: block;
}
}

